### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import os
import csv
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#Total players
total_players = len(purchase_data['SN'].unique())

total_players_df = pd.DataFrame({'Total Players':[total_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Number of unique items
u_items = len(purchase_data['Item Name'].unique())

#Average Price
avg_price = purchase_data['Price'].mean()

#Number of Purchases
total_purch = purchase_data['Purchase ID'].count()

#Total Revenue
total_rev = purchase_data['Price'].sum()

#Create summary dataframe
summary_df = pd.DataFrame({'Total Unique Items': [u_items], 
                           'Average Price': [avg_price], 
                           'Total Purchases': [total_purch],
                           'Total Revenue': [total_rev]})

summary_df

   Total Unique Items  Average Price  Total Purchases  Total Revenue
0                 179       3.050987              780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#Drop duplicate users and create new dataframe to work with
drop_user_df = purchase_data.loc[:,['SN','Age','Gender']]
drop_user_df = drop_user_df.drop_duplicates()


# Total gender count
total_gender = drop_user_df['Gender'].value_counts()


# Gender percentage
gender_perc = total_gender / total_players * 100


# Create a summary dataframe
gender_demo_df = pd.DataFrame({'Total Count':total_gender, 'Percentage of Players':gender_perc})
gender_demo_df

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Group by gender when making calculations

# Purchase Count
pcount = purchase_data.groupby(['Gender']).count()['Purchase ID']

pcount2 = drop_user_df.groupby(['Gender']).count()['SN']


#Average Purchase Price
avg_price = purchase_data.groupby(['Gender']).mean()['Price']


#Total Purchase Value
total_pv = purchase_data.groupby(['Gender']).sum()['Price']


# Average Purchase Total per person
avg_tp = total_pv/pcount2


# Create summary dataframe
gender_analysis_df = pd.DataFrame({'Purchase Count':pcount, 
                                   'Average Purchase Price':avg_price,
                                   'Total Purchase Value':total_pv,
                                   'Avg Total Purchase per Person':avg_tp
                                  })
gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
age_bins = [0,9.9, 14.9,19.9,24.9,29.9,34.9,39.9,150]

age_labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

# Create new column of age ranges in dataframe
drop_user_df["Age Ranges"] = pd.cut(drop_user_df["Age"], age_bins, labels = age_labels)
drop_user_df


# Total count
age_totals = drop_user_df["Age Ranges"].value_counts()


# Percentage of players
age_perc = age_totals/total_players*100


age_demo_df = pd.DataFrame({'Total Count':age_totals, 'Percentage of Players':age_perc})
age_demo_df

       Total Count  Percentage of Players
20-24          258              44.791667
15-19          107              18.576389
25-29           77              13.368056
30-34           52               9.027778
35-39           31               5.381944
10-14           22               3.819444
<10             17               2.951389
40+             12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame